langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith>=0.2.0
langchain-community
langchain-core
langchain_google_genai
notebook
python-dotenv
lxml
scikit-learn
pandas
pyarrow
faiss-cpu
beautifulsoup4
nest_asyncio
chromadb
ipykernel